.myQuote{
    padding: 15px;
   float: right;
    background: black;
    color: white;
  }
  
  .container1{
    /* padding: 1px; */
    text-align: center;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    color: white;

  }
  .nav{
  	background: black;
  	color: white;
    float: center;
  }
  .card{
  	background: black;
  }